__pycache__/
.github/
.vscode/
/config/
/data/*
/.mypy_cache/
/notebook/
/scripts/*
/ssl/
/test/
/requirements.in
/.env
/requirements.txt.bak
/docker-compose.yml.bak


!scripts/test_localfile.py
!data/input.json
!data/body.txt


